<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form>
        enter old Password: <input type="text" id="old-pwd" name="old-pwd">
        enter new Password: <input type="text" id="new-pwd" name="new-pwd">
        Re-enter Password: <input type="text">
        <button type="button" onclick="updatePwd()"> Update </button>
    </form>
</body>
</html>

<script>
    function updatePwd() {
        var old_pwd = document.getElementById('old-pwd').value;
        var new_pwd = document.getElementById('new-pwd').value;

        


    }
</script>